/* 
  HTML5 ✰ Boilerplate 
  
  style.css contains a reset, font normalization and some base styles.
  
  credit is left where credit is due.
  much inspiration was taken from these projects:
    yui.yahooapis.com/2.8.1/build/base/base.css
    camendesign.com/design/
    praegnanz.de/weblog/htmlcssjs-kickstart
*/

/* 
  html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
  v1.4 2009-07-27 | Authors: Eric Meyer & Richard Clark
  html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  vertical-align:baseline;
  background:transparent;
}                  

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { 
    display:block;
}

nav ul { list-style:none; }

blockquote, q { quotes:none; }

blockquote:before, blockquote:after,
q:before, q:after { content:''; content:none; }

a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }

ins { background-color:#ff9; color:#000; text-decoration:none; }

mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }

/* tables still need cellspacing="0" in the markup */
table { border-collapse:collapse; border-spacing:0; }

hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }

input, select { vertical-align:middle; }

/* END RESET CSS */


/* fonts.css from the YUI Library: developer.yahoo.com/yui/
   Refer to developer.yahoo.com/yui/3/cssfonts/ for font sizing percentages

  There are three custom edits:
   * remove arial, helvetica from explicit font stack
   * we normalize monospace styles ourselves
   * table font-size is reset in the HTML5 reset above so there is no need to repeat
*/
body { font:13px/1.231 sans-serif; *font-size:small; } /* hack retained to preserve specificity */

select, input, textarea, button { font:99% sans-serif; }

/* normalize monospace sizing 
 * en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome
 */
pre, code, kbd, samp { font-family: monospace, sans-serif; }
 

/* 
 * minimal base styles 
 */


body, select, input, textarea { 
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */ 
  color: #444; 
  /* set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */   
}

/* Headers (h1,h2,etc) have no default font-size or margin,
   you'll want to define those yourself. */ 
h1,h2,h3,h4,h5,h6 { font-weight: bold; }

/* always force a scrollbar in non-IE
html { overflow-y: scroll; } */ 

 
/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }


ul, ol { margin-left: 1.8em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; } 

small { font-size: 85%; }
strong, th { font-weight: bold; }

td, td img { vertical-align: top; } 

sub { vertical-align: sub; font-size: smaller; }
sup { vertical-align: super; font-size: smaller; }

pre { 
  padding: 15px; 
  
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; /* CSS2 */
  white-space: pre-wrap; /* CSS 2.1 */
  white-space: pre-line; /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word; /* IE */
}
 
textarea { overflow: auto; } /* thnx ivannikolic! www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } /* thnx ivannikolic! */

/* align checkboxes, radios, text inputs with their label
   by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* hand cursor on clickable input elements */
label, input[type=button], input[type=submit], button { cursor: pointer; }
 
/* webkit browsers add a 2px margin outside the chrome of form elements */  
button, input, select, textarea { margin: 0; }

/* colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { 
      border-radius: 1px;
    -moz-box-shadow: 0px 0px 5px red; 
 -webkit-box-shadow: 0px 0px 5px red; 
         box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, 
.no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate.
   No text-shadow: twitter.com/miketaylr/status/12228805301 
   Also: hot pink. */
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; } 

/*  j.mp/webkit-tap-highlight-color */
a:link { -webkit-tap-highlight-color: #FF5E99; } 

/* make buttons play nice in IE:    
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }
 
/* bicubic resizing for non-native sized IMG: 
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }



/* 
 * Non-semantic helper classes 
 */

/* for image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; } 

/* Hide only visually, but have it available for screenreaders 
   www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden  */
.visuallyhidden { position: absolute !important;    
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* >> The Magnificent CLEARFIX: Updated to prevent margin-collapsing on child elements << j.mp/bestclearfix */
.clearfix:before, .clearfix:after {
  content: "\0020"; display: block; height: 0; visibility: hidden;	
} 

.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }





/* COMMONS */

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.eot');
  src: local('Open Sans'),
    local('OpenSans'),
    url('../fonts/OpenSans-Regular.eot') format('embedded-opentype'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/OpenSans-Light.eot');
  src: local('Open Sans Light'),
    local('OpenSans-Light'),
    url('../fonts/OpenSans-Light.eot') format('embedded-opentype'),
    url('../fonts/OpenSans-Light.woff') format('woff'),
    url('../fonts/OpenSans-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-Bold.eot');
  src: local('Open Sans Bold'),
    local('OpenSans-Bold'),
    url('../fonts/OpenSans-Bold.eot') format('embedded-opentype'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/OpenSans-Italic.eot');
  src: local('Open Sans Italic'),
    local('OpenSans-Italic'),
    url('../fonts/OpenSans-Italic.eot') format('embedded-opentype'),
    url('../fonts/OpenSans-Italic.woff') format('woff'),
    url('../fonts/OpenSans-Italic.ttf') format('truetype');
}

body, select, input, textarea, button {
  font-family: "Open Sans", "Lucida Sans", "Lucida Grande", "Lucida Sans Unicode", Verdana, sans-serif;
}

body {
  background: #272A2F;
  color: #EBEBEB;
  text-align: center;
}

button {
  outline: none;
}

/* Reset values for Persian (fa) to avoid colision with Font Awesome */
.language.fa {
  font-family: inherit;
  font-weight: inherit;
  line-height: inherit;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
}

#pontoon h2 {
  color: #888888;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  padding-bottom: 2px;
}

#pontoon a:link,
#pontoon a:visited {
  color: #AAAAAA;
  font-weight: 300;
  text-decoration: none;

  -moz-transition: all 0.3s ease-out;  /* FF3.7+ */
  -o-transition: all 0.3s ease-out;  /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
  transition: all 0.3s ease-out;
}

#pontoon a:hover,
#pontoon a:active {
  color: #7BC876;
  text-decoration: none;
}

#pontoon input[type=text],
#pontoon input[type=search],
#pontoon input[type=password],
#pontoon textarea {
  background: #888888;
  border: none;
  padding: 4px 3px 3px;
  width: 205px;
  float: left;
}

#pontoon textarea {
  float: none;
}

#pontoon input[type=text]:focus,
#pontoon input[type=search]:focus,
#pontoon input[type=password]:focus,
#pontoon textarea:focus {
  background-color: #FFFFFF;
  outline: none; /* Remove WebKit Glow */

  -moz-transition: all 0.3s ease-out;  /* FF3.7+ */
  -o-transition: all 0.3s ease-out;  /* Opera 10.5 */
  -webkit-transition: all 0.3s ease-out;  /* Saf3.2+, Chrome */
  transition: all 0.3s ease-out;
}

#pontoon label {
  font-weight: 300;
}

#pontoon .button {
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-weight: 300;
  height: 17px;
  padding: 5px 4px 2px;
}

#pontoon .right {
  float: right;
  padding-right: 5px;
}

#pontoon .select {
  display: inline-block;
  font-size: 14px;
  margin-left: 0;
  padding-left: 10px;
  position: relative;
}

#pontoon .select.hidden {
  display: none!important;
}

#pontoon .select .menu,
#pontoon .select .popup {
  background: #272A2F;
  bottom: 50px;
  color: #AAAAAA;
  display: none;
  list-style: none;
  margin-left: 0;
  padding: 10px 12px;
  position: absolute;
  width: 150px;
  z-index: 20; /* Must be higher than iframe-cover */
}

#pontoon .select > .button.breadcrumbs,
#pontoon #go {
  background: #3f4752;
  font-size: 16px;
  height: 20px;
  margin: 10px 10px 10px 0px;
  overflow: hidden;
  padding: 10px 20px 10px 40px;
  text-overflow: ellipsis;
  width: 200px;
}

#pontoon #go {
  width: auto;
}

#pontoon .select > .button.breadcrumbs:before,
#go:before {
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #272A2F;
  position: absolute;
  left: 0;
  top: 10px;
}

#pontoon .select > .button.breadcrumbs:after {
  content: "";
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid #3f4752;
  position: absolute;
  right: -10px;
  top: 10px;
  z-index: 1;
}

#pontoon .project.select > .button.breadcrumbs {
  padding-left: 20px;
}

#pontoon .project.select > .button.breadcrumbs:before {
  display: none;
}

#pontoon .select > .button.breadcrumbs:hover {
  background: #4d5967;
}

#pontoon .select > .button.breadcrumbs:hover:after {
  border-left-color: #4d5967;
}

#pontoon .select.opened > .button.breadcrumbs {
  background: #4d5967;
}

#pontoon .select.opened > .button.breadcrumbs:after {
  border-left-color: #4d5967;
}

#pontoon #go {
  color: #FFFFFF;
  float: left;

  -moz-transition: none;  /* FF3.7+ */
  -o-transition: none;  /* Opera 10.5 */
  -webkit-transition: none;  /* Saf3.2+, Chrome */
  transition: none;
}

#pontoon #go:hover {
  background: #7BC876;
  color: #272A2F;
}

#pontoon .project.select {
  padding-left: 0;
  width: 100%;
}

#pontoon .project.select .menu {
  bottom: auto;
  display: inline-block;
  position: relative;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon .project.select input[type="search"] {
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon .project.select .menu ul {
  max-height: none;
}

#pontoon .project.select .menu ul li .name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 160px;
}

#pontoon .project.select .menu ul li .url {
  float: left;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 370px;
}

#pontoon .locale.select {
  padding-left: 0;
  width: 100%;
}

#pontoon .locale.select .menu {
  bottom: auto;
  display: inline-block;
  position: relative;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon .locale.select input[type="search"] {
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon .locale.select .menu ul {
  max-height: none;
}

#pontoon .select .menu ul li > span:first-child {
  float: left;
  text-align: left;
}

#pontoon .select .menu ul li > span:nth-child(2) {
  color: #7BC876;
}

#pontoon .select .menu ul li .chart {
  background: #FD5F60;
  float: right;
  height: 5px;
  margin-top: 6px;
  width: 160px;
}

#pontoon .select .menu ul li .chart span {
  float: left;
  height: 100%;
}

#pontoon .select .menu ul li .chart span.approved {
  background: #7BC876;
}

#pontoon .select .menu ul li .chart span.translated {
  background: #4FC4F6;
}

#pontoon .select .menu ul li .chart span.fuzzy {
  background: #FED271;
}

#pontoon .locale .selector,
#pontoon .project .selector {
  float: right;
}

#pontoon .menu ul {
  max-height: 170px;
  overflow: auto;
  margin: 0 0 6px 0;
  position: relative;
}

#pontoon .menu li {
  color: #AAAAAA;
  font-weight: 300;
  padding: 2px 4px;
}

#pontoon .menu li.hover {
  cursor: pointer;
  color: #FFFFFF;
  background: #3F4752;
}

#pontoon .menu li a:link,
#pontoon .menu li a:visited {
  -moz-transition: none;  /* FF3.7+ */
  -o-transition: none;  /* Opera 10.5 */
  -webkit-transition: none;  /* Saf3.2+, Chrome */
  transition: none;
}

#pontoon .menu li a:hover,
#pontoon .menu li a:active {
  color: #FFFFFF;
}

#pontoon .menu li.no-match {
  cursor: default;
  display: none;
  list-style: none;
  text-align: left;
}

#pontoon .menu li.no-match.hover {
  background: transparent;
  color: inherit;
  cursor: default;
  display: none;
}

#pontoon .search-wrapper {
  border-bottom: 1px solid #5E6475;
  margin-bottom: 10px;
  position: relative;
}

#pontoon .search-wrapper .icon {
  color: #AAAAAA;
  font-size: 1.2em;
  position: absolute;
  left: 3px;
  top: 5px;
}

#pontoon .menu input[type=search] {
  background: transparent;
  color: #FFFFFF;
  float: none;
  padding-left: 25px;
  padding-right: 0;
  width: 200px;
}

#pontoon .menu input[type=search]:focus {
  background-color: transparent;
}

#pontoon .locale .code {
  color: #7BC876;
  float: right;
}

.tooltip {
  background: #3F4752;
  border-radius: 5px;
  display: none;
  height: 104px;
  padding: 10px;
  position: absolute;
  width: 160px;
  z-index: 25;
}

.tooltip:after {
  content: "";
  position: absolute;
  border: 8px solid;
  border-color: #3F4752 transparent transparent transparent;
  bottom: -16px;
  left: 82px; /* Must be (tooltip width + tooltip padding + bottom) / 2 */
}

.tooltip div {
  border-left: 5px solid;
  color: #CCCCCC;
  font-size: 11px;
  margin: 6px 0;
  padding-left: 5px;
  text-align: left;
  text-transform: uppercase;
}

.tooltip div.untranslated {
  border-color: #FD5F60;
}

.tooltip div.approved {
  border-color: #7BC876;
}

.tooltip div.translated {
  border-color: #4FC4F6;
}

.tooltip div.fuzzy {
  border-color: #FED271;
}

.tooltip div span {
  color: #FFFFFF;
  float: right;
  font-size: 13px;
  line-height: 13px;
}





/* PRIMARY STYLES */

#error {
  bottom: 0;
  display: table;
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

.inner {
  display: table-cell;
  vertical-align: middle;
}

#pontoon > nav,
#pontoon .inner > nav {
  left: 50%;
  margin-left: -350px;
  position: absolute;
  top: 20px;
  width: 700px;
  z-index: 1;
}

.links li {
  list-style: none;
  display: inline;
  margin: 0 20px;
  font-size: 14px;
  line-height: 14px;
}

.links li.hidden {
  display: none;
}

#pontoon .links li a:link,
#pontoon .links li a:visited {
  color: #EBEBEB;
}

#pontoon .links li a:hover,
#pontoon .links li a:active {
  color: #7BC876;
}

#pontoon noscript p {
  text-transform: uppercase;
}

#pontoon #title {
  color: #7BC876;
  display: inline-block;
  font-size: 108px;
  font-weight: 300;
  letter-spacing: -4px;
  padding-top: 150px;
}

#pontoon #error #title {
  padding-top: 0;
}

#pontoon #title a {
  color: #7BC876;
}

#pontoon #subtitle {
  color: #EBEBEB;
  font-size: 48px;
  letter-spacing: -2px;
  text-transform: none;
}

#action {
  color: #AAAAAA;
  font-size: 14px;
  font-weight: 300;
  height: 40px;
  margin-top: 70px;
}

#action #link {
  color: #7BC876;
}

#action #loading {
  display: inline-block;
  padding: 0 10px;
  width: 20px;
}

#pontoon > form {
  height: auto;
  margin: 0 auto;
  padding: 50px 0 100px;
  position: relative;
  width: 730px;
}

#source {
  display: none;
  height: 0;
  padding: 60px 0 0 0;
  width: 100%;
}

#iframe-cover {
  bottom: 0;
  display: none;
  position: absolute;
  top: 60px;
  width: 100%;
  z-index: 10; /* Must be lower than menu */
}

#project-load {
  display: table;
  height: 100%;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

#project-load p {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: -3px;
  margin-bottom: 5px;
}

.unselectable * {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
