body {
  overflow: hidden;
}

/* HEADER */

#pontoon > header {
  background: #272A2F;
  display: none;
  height: 60px;
  position: fixed;
  text-align: left;
  width: 100%;
  z-index: 15; /* Must be higher than iframe-cover */
}

#pontoon > header > .container {
  display: none;
  min-width: 800px;
}

#pontoon > header .loader {
  color: #FFFFFF;
  display: inline-block;
  margin: 23px 16px;
}

#pontoon #switch {
  background: transparent;
  border: none;
  color: #FFFFFF;
  float: left;
  height: 60px;
  margin-left: 8px;
  padding: 0; /* Needed to prevent jumping on click */
  transition: all 0.2s ease-out;
  width: 27px;
}

#pontoon #switch.opened {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

#pontoon .select {
  float: left;
  padding-left: 0;
  text-align: left;
}

#pontoon .locale .code {
  margin-left: 10px;
}

#pontoon > header .project.select {
  margin-left: 10px;
  width: auto;
}

#pontoon > header .locale.select {
  width: auto;
}

#pontoon .select > .button.breadcrumbs {
  width: auto;
}

#pontoon .select.opened > .button.breadcrumbs {
  background: #272A2F;
}

#pontoon .select.opened > .button.breadcrumbs:after {
  border-left-color: #272A2F;
}

#pontoon .select .menu,
#pontoon .select .popup {
  bottom: auto;
  top: 60px;
}

#pontoon .project.select .menu,
#pontoon .part.select .menu {
  display: none;
  position: absolute;
  width: 510px;
}

#pontoon .project.select .menu {
  width: 580px;
}

#pontoon .locale.select .menu {
  display: none;
  position: absolute;
  width: 236px;
}

#pontoon .menu ul,
#pontoon .project.select .menu ul,
#pontoon .locale.select .menu ul {
  margin: 0;
  max-height: 149px;
}

#pontoon .part .menu ul li {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#pontoon .part.select .menu ul li > span:nth-child(2),
#pontoon .project.select .menu ul li > span:nth-child(2) {
  float: right;
  text-align: right;
}

#pontoon .menu li.horizontal-separator {
  border-top: 1px solid #525A65;
  height: 0;
  margin: 5px 0;
  padding: 0;
}

#pontoon .status {
  font-size: 16px;
  left: 16px;
  position: absolute;
  top: 13px;
}

#pontoon .status:before {
  color: #FD5F60;
  content: "";
}

#pontoon .translated .status:before {
  color: #4FC4F6;
  content: "";
}

#pontoon .fuzzy .status:before {
  color: #FED271;
  content: "";
  margin-left: -1px;
}

#pontoon .approved .status:before {
  color: #7BC876;
  content: "";
}

#pontoon .all .status {
  top: 11px;
  left: 14px;
}

#pontoon .all .status:before {
  color: #AAAAAA;
  content: "";
  font-size: 21px;
}

#pontoon .rounded-graph {
  border: 4px solid #FD5F60;
  border-radius: 50%;
  position: relative;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #progress .menu .big.rounded-graph {
  border-width: 20px;
  height: 220px;
  margin: 10px auto;
  width: 220px;
}

#pontoon #progress {
  cursor: pointer;
  float: left;
  height: 44px;
  margin: 8px 10px 8px 0;
  width: 44px;
}

#pontoon #progress:hover {
  background: #3F4752;
}

#pontoon #progress.opened:hover {
  background: inherit;
}

#pontoon #progress .graph > span {
  clip: rect(0, 44px, 44px, 22px);
  height: 44px;
  left: -4px;
  position: absolute;
  top: -4px;
  width: 44px;
}

#pontoon #progress .big .graph > span {
  clip: rect(0, 220px, 220px, 110px);
  height: 220px;
  left: -20px;
  top: -20px;
  width: 220px;
}

#pontoon #progress .graph > span.gt50 {
  clip: rect(auto, auto, auto, auto);
}

#pontoon #progress .graph .half {
  border: 4px solid #7BC876;
  border-radius: 50%;
  clip: rect(0, 22px, 44px, 0);
  height: 36px;
  position: absolute;
  width: 36px;
  left: 0;
}

#pontoon #progress .big .graph .half {
  border-width: 20px;
  clip: rect(0, 110px, 220px, 0);
  height: 180px;
  width: 180px;
}

#pontoon #progress .graph .translated .half {
  border-color: #4FC4F6;
}

#pontoon #progress .graph .fuzzy .half {
  border-color: #FED271;
}

#pontoon #progress .graph .half:nth-child(2) {
  display: none;

  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

#pontoon #progress .graph > span.gt50 .half:nth-child(2) {
  display: block;
}

#pontoon #progress .number {
  color: #FFFFFF;
  font-size: 14px;
  left: 0;
  line-height: 20px;
  position: absolute;
  text-align: center;
  top: 5px;
  width: 100%;
}

#pontoon #progress .big .number {
  font-size: 90px;
  line-height: 100px;
  top: 25px;
}

#pontoon #progress .number:after {
  content: "%";
  color: #AAAAAA;
  display: block;
  font-size: 10px;
  line-height: 3px;
}

#pontoon #progress .big .number:after {
  font-size: 30px;
  line-height: 15px;
}

#pontoon #progress .menu {
  cursor: auto;
  left: 50%;
  line-height: 18px;
  margin-left: -180px; /* Must be half the width */
  padding: 0;
  text-align: center;
  top: 48px;
}

#pontoon #progress .menu header span {
  color: #FFFFFF;
  font-size: 28px;
  padding: 0 2px;
}

#pontoon #progress .menu > div:first-child {
  padding: 10px 12px;
}

#pontoon #progress .menu .details {
  padding: 0;
  width: 100%;
}

#pontoon #progress .menu .details div {
  border-top: 5px solid;
  color: #AAAAAA;
  display: inline-block;
  margin-right: 1px;
  width: 89px;
}

#pontoon #progress .menu .details div:last-child {
  margin-right: 0;
  width: 90px;
}

#pontoon #progress .menu div.untranslated {
  border-color: #FD5F60;
}

#pontoon #progress .menu div.need-work {
  border-color: #FED271;
}

#pontoon #progress .menu div.translated {
  border-color: #4FC4F6;
}

#pontoon #progress .menu div.approved {
  border-color: #7BC876;
}

#pontoon #progress .menu .details span {
  font-size: 10px;
  text-transform: uppercase;
}

#pontoon #progress .menu .details p {
  color: #FFFFFF;
  font-size: 28px;
  padding: 10px 0;
  position: relative;
}

#pontoon > header #loading {
  display: none;
  float: left;
  margin-right: 5px;
}

#pontoon > header #loading.loader {
  display: inline-block;
}

#pontoon > header .notification {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
  display: none;
  list-style: none;
  margin: 0;
  max-width: 500px;
  padding: 10px;
  position: absolute;
  right: 15px;
  top: 70px;
  visibility: visible;
  width: auto;
}

#pontoon > header .notification li {
  color: #7BC876;
  font-weight: 100;
  text-transform: uppercase;
  white-space: pre-wrap;
}

#pontoon > header .notification li.error {
  color: #FD5F60;
}

#pontoon #profile > .button {
  height: 60px;
  padding: 0;
}

#pontoon #profile .button .title {
  float: left;
  margin: 20px 5px 20px 10px;
  font-size: 16px;
}

#pontoon #profile .button .title span {
  margin-left: 5px;
}

#pontoon #profile .button img {
  border-radius: 24px;
  border: 2px solid #4D5967;
  margin: 6px 5px 0 0;
}

#pontoon #profile .menu {
  line-height: 18px;
  width: 200px;
}

#pontoon #profile .menu ul,
#pontoon #filter .menu ul {
  max-height: none;
}

#pontoon #profile .menu li i.fa {
  margin: 0 8px 0 -2px;
}

#pontoon #profile .menu li i.file-format {
  font-weight: 300;
  font-size: 13px;
  font-style: normal;
  margin-left: 2px;
}

#pontoon #profile .menu li.quality-checks i:before,
#pontoon #profile .menu li.quality-checks.enabled:hover i:before {
  color: #FD5F60;
  content: "";
}

#pontoon #profile .menu li.quality-checks:hover i:before,
#pontoon #profile .menu li.quality-checks.enabled i:before {
  color: #7BC876;
  content: "";
}

#pontoon #profile.select .popup {
  right: 0;
  width: 200px;
}

#pontoon #profile.select #hotkeys.popup {
  width: 300px;
}

#pontoon #info .button {
  font-size: 1.6em;
  height: 22px;
  padding: 19px 5px;
}

#pontoon #info .menu a {
  color: #7BC876;
}

#pontoon #hotkeys table {
  width: 100%;
}

#pontoon #hotkeys td:first-child {
  height: 26px;
  width: 60%;
}

#pontoon #profile .menu li i.file-format,
#pontoon #hotkeys span {
  background: #3F4752;
  border: 1px solid #5E6475;
  border-radius: 2px;
  padding: 0 4px;
}

#pontoon > header .select aside.menu {
  width: 360px;
}

#pontoon > header aside h2 {
  margin-bottom: 15px;
}

#pontoon > header aside p {
  color: #CCCCCC;
  font-weight: 300;
  padding: 4px 0;
}

#pontoon .right .menu {
  right: 0;
}

#pontoon #projects {
  color: #FFFFFF;
  padding: 17px 5px;
}

#pontoon .popup .cancel {
  float: right;
  font-size: 22px;
  margin-top: -5px;
}

#pontoon .popup .cancel:hover {
  color: #FFFFFF;
}

#pontoon .popup input[type=text],
#pontoon .popup input[type=password] {
  background: transparent;
  border-bottom: 1px solid #525A65;
  color: #FFFFFF;
  margin-bottom: 7px;
  padding: 3px 0;
  width: 200px;
}

#pontoon .popup input[type=password] {
    width: 120px;
}

#pontoon .popup .button {
  background: #7BC876;
  border-radius: 3px;
  color: #272A2F;
  float: right;
  font-weight: 400;
  padding: 5px 10px;
  text-transform: uppercase;
}

#pontoon .popup .remember {
  float: left;
  padding: 6px 0 0 14px;
}

#pontoon .popup .remember input {
  float: left;
  margin-left: -16px;
}

#pontoon .popup .bottom {
  font-size: 11px;
}

#pontoon .popup .bottom .new {
  float: right;
  margin-top: 6px;
}





/* ENTITY LIST */

#pontoon #sidebar {
  background: #3F4752;
  border-right: 1px solid #5E6475;
  bottom: 0;
  display: none;
  overflow: hidden;
  position: fixed;
  top: 60px;
  width: 350px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #sidebar.advanced {
  display: block;
  width: 700px;
}

#pontoon #sidebar [id^="drag"] {
  cursor: ew-resize;
  display: none;
  height: 100%;
  position: absolute;
  width: 7px;
}

#pontoon #sidebar #drag,
#pontoon #sidebar.advanced #drag-1 {
  display: block;
  right: 0;
}

#pontoon #sidebar.advanced #drag-1 {
  left: -4px;
  z-index: 5;
}

#pontoon #entitylist {
  left: 0;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
}

#pontoon .advanced #entitylist,
#pontoon .advanced #editor {
  width: 50%;
}

#pontoon #entitylist .search-wrapper {
  margin-bottom: 0;
}

#pontoon #sidebar .search-wrapper .icon {
  font-size: 19px;
  left: auto;
  right: 5px;
  top: 12px;
}

#pontoon #sidebar .search-wrapper input[type=search] {
  background: #4D5967;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: 300;
  padding: 10px 30px 10px 43px;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #sidebar .search-wrapper input[type=search]:-moz-placeholder {
  color: #AAAAAA;
}

#pontoon #sidebar .search-wrapper input[type=search]:-webkit-input-placeholder {
  color: #AAAAAA;
}

#pontoon #filter {
  position: static;
}

#pontoon #filter .button {
  height: 43px;
  padding: 0;
  position: absolute;
  left: 0;
  width: 43px;
}

#pontoon #filter .button:hover .status:before {
  color: #FFFFFF;
}

#pontoon #filter.opened .button {
  background-color: #272A2F;
  border-bottom: 1px solid #525A65;
  width: 100%;
  z-index: 30;
}

#pontoon #filter .button .title {
  color: #AAAAAA;
  display: none;
  font-size: 16px;
  left: 43px;
  position: absolute;
  top: 12px;
}

#pontoon #filter.opened .button .title {
  display: block;
}

#pontoon #filter .menu {
  left: 0;
  top: 43px;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #filter .menu li:not(.horizontal-separator) {
  padding: 4px 0 4px 30px;
  position: relative;
}

#pontoon #filter .menu li .status {
  left: 4px;
  top: 4px;
}

#pontoon #filter .menu li.all .status {
  left: 2px;
  top: 2px;
}

#pontoon #entitylist > .wrapper {
  bottom: 0px;
  overflow-y: auto;
  position: absolute;
  top: 44px;
  width: 100%;
}

#pontoon #entitylist > .wrapper > ul {
  background: #EBEBEB;
  margin: 0;
  list-style: none;
  text-align: left;
}

#pontoon #entitylist > .wrapper > ul > li {
  background: #3f4752;
  color: #FFFFFF;
  cursor: pointer;
  line-height: 2em;
  padding: 10px 25px 10px 43px;
  position: relative;
}

#pontoon #entitylist > .wrapper > ul > li:hover,
#pontoon #entitylist > .wrapper > ul > li.hovered,
#pontoon #entitylist > .wrapper > ul > li.active {
  background-color: #4d5967;
}

#pontoon #entitylist > .wrapper > ul > li .arrow {
  color: #CCCCCC;
  display: none;
  float: right;
  margin: -17px -18px;
}

#pontoon #entitylist > .wrapper > ul > li:hover .arrow {
  display: block;
}

#pontoon #entitylist > .wrapper > ul > li p {
  height: 22px;
  line-height: 22px;
}

#pontoon #entitylist > .wrapper > ul > li p span {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

#pontoon #entitylist > .wrapper > ul > li p span.translation-string {
  color: #AAAAAA;
  display: none;
  font-style: italic;
  padding-left: 2%;
}

#pontoon #entitylist > .wrapper > ul > li.approved p span.source-string,
#pontoon #entitylist > .wrapper > ul > li.translated p span.source-string,
#pontoon #entitylist > .wrapper > ul > li.fuzzy p span.source-string,
#pontoon #entitylist > .wrapper > ul > li p span.translation-string:not(:empty) {
  display: inline-block;
  width: 49%;
}

#pontoon #entitylist h2  {
  background: #272A2F;
  color: #AAAAAA;
  padding: 10px 6px;
  text-align: left;
}

#pontoon #entitylist .no-match  {
  color: #FFFFFF;
  display: none;
  font-size: 28px;
  font-weight: 300;
  padding-top: 60px;
  text-align: center;
}

#pontoon #entitylist .no-match div  {
  color: #7BC876;
  font-size: 128px;
  margin-bottom: 20px;
}





/* EDITOR */

#pontoon #editor {
  background: #3F4752;
  bottom: 0;
  color: #FFFFFF;
  left: 350px;
  line-height: 22px;
  padding: 0;
  position: absolute;
  top: 0;
  transition: all 0.2s ease-out;
  width: 100%;
}

#pontoon .advanced #editor {
  border-left: 1px solid #5E6475;
  left: 50%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #editor p {
  text-align: left;
  white-space: normal;
}

#pontoon #topbar {
  background: #4D5967;
  border-bottom: 1px solid #5E6475;
  line-height: 23px;
  padding: 10px ;
  text-transform: uppercase;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #topbar a {
  color: #CCCCCC;
  float: right;
}

#pontoon #topbar a#back {
  float: left;
}

#pontoon .advanced #topbar a#back {
  display: none;
}

#pontoon #topbar a#previous {
  margin-right: 30px;
}

#pontoon #topbar a:hover {
  color: #7BC876;
}

#pontoon #topbar a span {
  padding-right: 5px;
}

#pontoon #source-pane {
  background: #3F4752;
  border-bottom: 1px solid #5E6475;
  height: 20%;
  min-height: 100px;
  overflow: auto;
  padding: 10px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #metadata {
  color: #AAAAAA;
  display: none;
  font-size: 12px;
  font-style: italic;
}

#pontoon #metadata span {
  display: none;
}

#pontoon #metadata #comment {
  display: inline;
  padding-right: 4px;
}

#pontoon #metadata .details {
  color: #7BC876;
  float: right;
  padding-left: 4px;
}

#pontoon #source-pane h2 {
  color: #AAAAAA;
  display: none;
  font-size: 11px;
  line-height: 11px;
  margin-top: 6px;
}

#pontoon #source-pane.pluralized h2 {
  display: block;
}

#pontoon #editor nav ul {
  display: table;
  width: 100%;
}

#pontoon #editor nav li {
  background: #4D5967;
  border-bottom: 1px solid #5E6475;
  border-right: 1px solid #5E6475;
  display: table-cell;
  text-align: center;
}

#pontoon #editor nav li:last-child {
  border-right: none;
}

#pontoon #editor nav li.active {
  background: #3F4752;
  border-bottom: none;
}

#pontoon #editor nav li:hover {
  background: #3F4752;
}

#pontoon #editor nav li a {
  color: #CCCCCC;
  display: block;
  padding: 10px;
  text-transform: uppercase;
}

#pontoon #editor nav li a > span > span {
  left: 0px;
  position: absolute;
  right: 0px;
  top: 2px;
  vertical-align: 0;
  visibility: hidden;
}

#pontoon #editor nav li a.loading > span > span {
  visibility: visible;
}

#pontoon #editor nav li a > span {
  position: relative;
}

#pontoon #editor nav li a.loading > span {
  visibility: hidden;
}

#pontoon #editor textarea {
  background: #FFFFFF;
  display: block;
  font-size: 13px;
  height: 20%;
  line-height: 22px;
  min-height: 100px;
  overflow: auto;
  padding: 10px;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #plural-tabs ul li {
  display: none;
}

#pontoon #plural-tabs ul li a span {
  color: #7BC876;
}

#pontoon #editor > menu {
  background: #272A2F;
  border-bottom: 1px solid #5E6475;
  padding: 10px;
  position: relative;
  text-align: right;
}

#pontoon #warning {
  background: #272A2F;
  bottom: 0;
  display: none;
  left: 0;
  min-height: 90px;
  padding: 10px;
  position: absolute;
  text-align: left;
  width: 100%;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#pontoon #warning .cancel {
  color: #AAAAAA;
  float: right;
  font-size: 24px;
  font-weight: 100;
  margin-top: -1px;
}

#pontoon #warning .cancel:hover {
  color: #FFFFFF;
}

#pontoon #warning h2 {
  color: #FD5F60;
}

#pontoon #warning ul {
  float: left;
  list-style: disc;
}

#pontoon #warning #save-anyway {
  bottom: 10px;
  position: absolute;
  right: 10px;
}

#pontoon #translation-length {
  color: #AAAAAA;
  display: none;
  float: left;
  line-height: 22px;
  padding: 9px 0;
}

#pontoon #editor > menu button {
  background: transparent;
  border: none;
  color: #EBEBEB;
  padding: 10px 5px;
  text-transform: uppercase;
}

#pontoon .advanced button#cancel {
  display: none;
}

#pontoon #editor > menu button[id^="save"] {
  background: #7bc876;
  border-radius: 3px;
  color: #272A2F;
  font-weight: 600;
  margin-left: 10px;
  padding: 10px 15px;
}

#pontoon #editor > menu button:hover {
  color: #7BC876;
}

#pontoon #editor > menu button[id^="save"]:hover {
  color: #EBEBEB;
}

#pontoon #helpers {
  background: #3F4752;
  height: calc(60% - 104px);
  position: relative;
}

#source-pane.pluralized ~ #helpers {
  height: calc(60% - 147px);
}

#pontoon #helpers > section {
  bottom: 0;
  display: none;
  left: 0;
  overflow-y: auto;
  padding-top: 25px;
  position: absolute;
  right: 0;
  top: 43px;
}

#pontoon #helpers > section#custom-search .search-wrapper {
  margin-bottom: 0;
}

#pontoon #helpers > section#custom-search .icon {
  right: 10px;
}

#pontoon #helpers > section#custom-search.loading .icon,
#pontoon #helpers > section#custom-search .icon.fa-cog {
  display: none;
}

#pontoon #helpers > section#custom-search.loading .icon.fa-cog {
  display: block;
}

#pontoon #helpers > section#custom-search input[type=search] {
  background: transparent;
  padding-left: 10px;
}

#pontoon #helpers > section ul {
  list-style: none;
  margin: 0;
}

#pontoon #helpers > section ul li {
  border-bottom: 1px solid #525a65;
  cursor: pointer;
  padding: 5px 10px 20px;
  text-align: right;
  transition: all 0.2s ease-out;
}

#pontoon #helpers > section ul li.delete {
  -webkit-transform: scale(0); /* MANDATORY! Or transitionend in main.js triggered too late */
  transform: scale(0);
}

#pontoon #helpers > section ul li:not(.disabled):hover,
#pontoon #helpers > section ul li:not(.disabled).hover {
  background: #4D5967;
  border-color: #5E6475;
}

#pontoon #helpers > section ul li.disabled {
  cursor: default;
}

#pontoon #helpers > section ul li > header {
  color: #AAAAAA;
  display: block;
  font-size: 11px;
  font-weight: 300;
  padding: 1px 0 5px;
  text-transform: uppercase;
}

#pontoon #helpers > section ul li > header .info {
  float: left;
}

#pontoon #helpers > section ul li > header .toolbar {
  float: right;
}

#pontoon #helpers > section ul li > header button {
  background: no-repeat transparent;
  border: none;
  color: #AAAAAA;
  display: none;
  font-size: 1.8em;
  height: 22px;
  padding: 0;
  vertical-align: bottom;
  width: 22px;
}

#pontoon #helpers > section ul li > header.localizer button,
#pontoon #helpers > section ul li > header.own button.delete,
#pontoon #helpers > section ul li.approved > header button.approve {
  display: inline-block;
}

#pontoon #helpers > section ul li > header button.approve:before {
  content: "";
}

#pontoon #helpers > section ul li > header button.approve:hover:before,
#pontoon #helpers > section ul li.approved > header button.approve:before {
  color: #7BC876;
  content: "";
}

#pontoon #helpers > section ul li > header button.delete:before {
  content: "";
  margin-left: 5px;
}

#pontoon #helpers > section ul li > header button.delete:hover:before {
  color: #FD5F60;
}

#pontoon #helpers > section ul li > header .stress {
  color: #7BC876;
  padding-left: 3px;
}

#pontoon #helpers > section ul li > p {
  min-height: 22px;
}

#pontoon #helpers > section#machinery ul li > header .stress,
#pontoon #helpers > section#custom-search ul li > header .stress {
  padding-right: 3px;
}

#pontoon #helpers > section ul li.disabled p {
  color: #AAAAAA;
  font-style: italic;
}

#pontoon #helpers > section ul li p.original {
  color: #AAAAAA;
}
