body {
  overflow: auto;
  position: relative;
}

#pontoon .select {
  padding-left: 0;
  text-align: left;
}

#pontoon #title {
  display: block;
  font-size: 50px;
  letter-spacing: -3px;
  text-align: left;
}

#pontoon form {
  color: #AAAAAA;
  font-size: 14px;
  width: 620px;
  padding: 0 20px 100px;
}

#pontoon form > div {
  margin: 20px 0;
  text-align: right;
}

#pontoon form > div.controls {
  margin-top: 70px;
}

#pontoon form > div.subpages.delete {
  opacity: 0.3;
}

#pontoon h2 {
  color: #EBEBEB;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: -1px;
  margin-left: -2px;
  margin-top: 70px;
  text-align: left;
  text-transform: none;
}

#pontoon h2 .small {
  color: #AAAAAA;
  font-size: 0.7em;
}

#pontoon h3 {
  color: #FD5F60;
  font-weight: 300;
  margin-left: -1px;
  text-align: left;
  text-transform: uppercase;
}

#pontoon label {
  display: block;
  padding-bottom: 3px;
  text-align: left;
}

#pontoon input[type=text],
#pontoon input[type=password],
#pontoon textarea {
  display: block;
  height: 24px;
  margin-left: -1px;
  width: 615px; /* Must be same as #pontoon form width - padding - margin-left */
}

#pontoon .button {
  background: #888888;
  border: none;
  display: block;
  float: right;
  font-size: 14px;
  height: 31px;
  width: 31px;
}

#pontoon .button.delete-subpage {
  color: #333333;
  font-size: 20px;
  padding: 4px;
}

#pontoon .controls .button {
  background: #7BC876;
  border-radius: 3px;
  color: #272A2F;
  font-weight: 400;
  text-transform: uppercase;
  width: auto;
}

#pontoon .controls .button.delete-project {
  background: #FF0A43;
  color: #FFFFFF;
  float: left;
}

#pontoon form a:link, #pontoon form a:visited {
  color: #7BC876;
  float: right;
  text-transform: uppercase;
}

#pontoon form a.add-subpage {
  font-size: 14px;
  letter-spacing: 0;
  margin-top: 17px;
}

#pontoon .controls a {
  margin: 9px;
}

#pontoon .authenticate .transifex .button {
  margin-top: 41px;
}

#pontoon .locale.select {
  float: left;
  width: auto;
}

#pontoon .locale.select.selected {
  float: right;
}

#pontoon .locale.select .menu {
  border-bottom: 1px solid #5E6475;
  margin: 2px 0 -4px -1px;
  overflow: auto;
  padding: 10px 0;
  width: 295px;
}

#pontoon .locale.select .menu ul {
  height: 170px;
  margin-bottom: 0;
}

#pontoon #id_locales {
  display: none;
}

#pontoon .checkbox {
  margin: 0;
}

#pontoon .checkbox label {
  float: left;
  padding: 6px 0 0 16px;
}

#pontoon .repository.authenticate .bottom label {
  padding-left: 16px;
}

#pontoon .checkbox label input,
#pontoon .repository.authenticate .bottom label input {
  float: left;
  margin-left: -16px;
  margin-top: 2px;
}

#pontoon .repository.authenticate .bottom label input {
  margin-top: 0;
}

#pontoon .repository .type-wrapper .authentication-title,
#pontoon .repository .transifex .authentication-form,
#pontoon .repository .transifex .bottom {
  display: none;
}

#pontoon .repository.authenticate .type-wrapper .authentication-title,
#pontoon .repository.authenticate .transifex .authentication-form,
#pontoon .repository.authenticate .transifex .bottom {
  display: block;
}

#pontoon .repository .type-wrapper {
  float: left;
  margin-right: 6px;
}

#pontoon .repository .type.select {
  margin-left: -1px;
}

#pontoon .repository .type.select .selector {
  color: #444444;
  font-weight: 400;
  height: 24px;
  line-height: 24px;
  width: 199px;
}

#pontoon .repository .type.select .selector > span:nth-child(2) {
  float: right;
}

#pontoon .repository .type.select .menu {
  background: #272A2F;
  border-top: 1px solid #5E6475;
  bottom: 31px;
  padding: 10px 0;
  width: 207px;
}

#pontoon .repository .type-wrapper .authentication-title {
  color: #FD5F60;
  font-size: 12px;
  padding-top: 54px;
  text-align: left;
  text-transform: uppercase;
}

#pontoon .repository .details-wrapper {
  float: left;
  width: 408px;
}

#pontoon .repository .details-wrapper[data-repository-type="transifex"] .repo {
  display: none;
}

#pontoon .repository .details-wrapper[data-repository-type="transifex"] .transifex {
  display: block;
}

#pontoon .repository .details-wrapper .button.update {
  color: #444444;
  padding: 0;
}

#pontoon .repository input[type=text] {
  width: 403px;
}

#pontoon .edit .repository input[type=text],
#pontoon .subpages input[id*=url] {
  float: left;
  width: 367px;
}

#pontoon .transifex {
  display: none;
}

#pontoon .transifex .authentication-form {
  padding-top: 73px;
  padding-bottom: 57px;
}

#pontoon .transifex input#id_transifex_project,
#pontoon .edit .authenticate .transifex input#id_transifex_project,
#pontoon .edit .transifex input#id_transifex_username {
  float: left;
  width: 196px;
}

#pontoon .transifex input#id_transifex_resource,
#pontoon .edit .authenticate .transifex input#id_transifex_resource {
  float: left;
  width: 196px;
}

#pontoon .edit .transifex input#id_transifex_project,
#pontoon .edit .transifex input#id_transifex_resource {
  float: left;
  width: 178px;
}

#pontoon .edit .transifex input#id_transifex_password,
#pontoon .edit .authenticate .transifex .authentication-form label:nth-child(2) {
  float: left;
  width: 157px;
}

#pontoon .transifex label,
#pontoon .edit .authenticate .transifex label  {
  float: left;
  width: 200px;
}

#pontoon .edit .transifex label {
  width: 182px;
}

#pontoon .edit section .bottom {
  font-size: 12px;
  text-transform: uppercase;
}

#pontoon .subpages[data-count] {
  display: none;
}

#pontoon .subpages label[for*=name] {
  float: left;
  width: 205px;
}

#pontoon .subpages input[id*=name] {
  float: left;
  width: 201px;
}

#pontoon .subpages input[id$=DELETE] {
  display: none;
}

#pontoon .subpages label[for*=url] {
  float: left;
  width: 407px;
}

#pontoon label[for=id_repository_type],
#pontoon .transifex input#id_transifex_project,
#pontoon .transifex input#id_transifex_username,
#pontoon .transifex label[for*=project],
#pontoon .transifex label[for*=username],
#pontoon .subpages input[id*=name],
#pontoon .subpages label[for*=name] {
  margin-right: 6px;
}

#pontoon textarea {
  height: 60px;
}

#pontoon .subtitle {
  font-size: 12px;
  margin-top: 4px;
  text-transform: uppercase;
}

#pontoon .errorlist {
  color: #FD5F60;
  display: inline-block;
  font-size: 12px;
  line-height: 14px; /* Strange, but needed to keep controls in line when error occures */
  list-style: none;
  margin-left: 0;
  margin-top: 2px;
  text-transform: uppercase;
}

#pontoon .errorlist li {
  display: inline;
  margin-left: 5px;
}

#pontoon .notification {
  color: #FD5F60;
  font-weight: 300;
  line-height: 17px;
  margin: 5px auto 10px;
  min-height: 17px;
  text-transform: uppercase;
  width: auto;
}

#pontoon .notification.hidden {
  display: block;
}

#pontoon .notification li {
  list-style: none;
  text-align: left;
}
