<!doctype html>
<html lang="{{ LANG }}" dir="{{ DIR }}">
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
 
    <title>{% block title %}Pontoon{% endblock %}</title>
    <meta name="description" content="Live web localization tool">
    <meta name="author" content="Mozilla">
    <base href="{{ settings.SITE_URL }}/">

    {% block site_css %}
      {% compress css %}
      <link rel="stylesheet" href="{{ static('css/style.css') }}">
      <link rel="stylesheet" href="{{ static('css/font-awesome.css') }}">

      {% block extend_css %}
      {% endblock %}
      {% endcompress %}
    {% endblock %}

    {% if settings.GOOGLE_ANALYTICS_KEY %}
    <!-- Google Analytics -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_KEY }}']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
  </head>
  
  <body id="pontoon" class="{% block class %}{% endblock %}">
    {% block content %}{% endblock %}

    <!-- Javascript at the bottom for fast page loading -->
    {% block site_js %}
      <!-- Grab Google CDN's jQuery. fall back to local if necessary -->
      <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
      <script>!window.jQuery && document.write(unescape('%3Cscript src="{{ static('js/jquery-1.11.1.min.js') }}"%3E%3C/script%3E'))</script>

      {% compress js %}
      <script src="{{ static('js/main.js') }}"></script>
      {% endcompress %}

      {% block extend_js %}
      {% endblock %}

    {% endblock %}
  </body>
</html>
