{% extends "base.html" %}

{% block content %}

{% block before %}
{% endblock %}

    <nav>
      <ul class="links">
        <li><a href="{{ url('pontoon.home') }}" title="Home">Home</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Localizing_with_Pontoon" target="_blank" title="Localize">How it works</a></li>
        <li><a href="https://developer.mozilla.org/en-US/docs/Implementing_Pontoon_Mozilla" target="_blank" title="Integrate">Developers</a></li>
        <li><a href="https://github.com/mathjazz/pontoon" target="_blank" title="Hack">GitHub</a></li>
        <li id="admin"{% if not perms.base.can_manage %} class="hidden"{% endif %}><a href="{{ url('pontoon.admin') }}" title="Admin">Admin</a></li>
        <li id="signout"{% if not user.is_authenticated() %} class="hidden"{% endif %}><a href="{{ url('signout') }}" title="{{ user.email }}">Sign out</a></li>
      </ul>
    </nav>

    <h1 id="title"><a href="/">{% block heading %}Pontoon{% endblock %}</a></h1>
    <h2 id="subtitle">{% block subtitle %}Localize the web. In place.{% endblock %}</h2>

    {% block middle %}
    <p id="action">
      <a id="link" href="/">Go Home</a>
    </p>
    {% endblock %}

{% block after %}
{% endblock %}

{% endblock %}
