<!-- Locale selector -->
<div class="locale select">
  {% if locale and locale.code != '' %}
  <div class="button breadcrumbs selector">
    <span class="language {{ locale.code|lower }}">{{ locale.name }}</span><span class="code">{{ locale.code }}
    </span>
  </div>
  {% endif %}
  <div class="menu">
    <div class="search-wrapper clearfix">
      <div class="icon fa fa-search"></div>
      <input type="search" autocomplete="off" autofocus>
    </div>
    <ul>
      {% for locale in locales %}
      <li class="clearfix">
        <span class="language {{ locale.code|lower }}">{{ locale.name }}</span>
        <span class="code">{{ locale.code }}</span>
        {% if locale and locale.chart %}
        <span class="chart" data-chart="{{ locale.chart }}">
          <span class="approved" style="width:{{ locale.chart.approved / locale.chart.total * 100 }}%;"></span>
          <span class="translated" style="width:{{ locale.chart.translated / locale.chart.total * 100 }}%;"></span>
          <span class="fuzzy" style="width:{{ locale.chart.fuzzy / locale.chart.total * 100 }}%;"></span>
        </span>
        {% endif %}
      </li>
      {% endfor %}
      <li class="no-match">No results</li>
    </ul>
  </div>
</div>
