{% if projects|length > 0 %}
<!-- Project input/select -->
<div class="project select">
  {% if project and project.name != '' %}
  <div class="button breadcrumbs selector">
    <span class="title" data-slug="{{ project.slug }}">{{ project.name }}</span>
  </div>
  {% endif %}
  <div class="menu">
    <div class="search-wrapper clearfix">
      <div class="icon fa fa-search"></div>
      <input type="search" autocomplete="off" autofocus>
    </div>
    <ul>
      {% for project in projects %}
      <li class="clearfix">
        <span class="name"
          data-slug="{{ project.slug }}"
          data-details="{{ project.details }}">{{ project.name }}</span>
        <span class="url">{{ project.url }}</span>
        {% if project and project.chart and project.chart.total %}
        <span class="chart" data-chart="{{ project.chart }}">
          <span class="approved" style="width:{{ project.chart.approved / project.chart.total * 100 }}%;"></span>
          <span class="translated" style="width:{{ project.chart.translated / project.chart.total * 100 }}%;"></span>
          <span class="fuzzy" style="width:{{ project.chart.fuzzy / project.chart.total * 100 }}%;"></span>
        </span>
        {% endif %}
      </li>
      {% endfor %}
      <li class="no-match">No results</li>
    </ul>
  </div>
</div>
{% endif %}
